<div class="new-question">
  <%= @question.errors.to_a.join(' ,') %>
  <form action='/question' method='post'>
    <input name='question[:question_type]' value="<%= question.question_type %>" type='text'>
    <input name='question[:description]' value="<%= @question.description %>" type='text'>
    <input name='question[:prompt]' value="<%= @question.prompt %>" type='text'>    
    <input type='submit'>
  </form>
</div>