<div class="new-reply">
  <form action='/replies' method='post'>
  	<label for='reply[value]'>Reply:</label>
    <input class="reply-field" name='reply[value]' type ='text' placeholder='Enter text here...' value="<%= @reply.value %>" />
  </form>
</div>
