<div id="user-profile">
	<h4><%= @user.name %>'s Profile</h4>
	<div id="user-surveys">
		<% unless @surveys.nil? || @surveys.empty? %>
			<%= erb :'surveys/index', layout: false %>
		<% else %>
			<p><%= @user.name %> does not have any surveys.</p>
		<% end %>
	</div>
</div>