<div class="new-response">
  <form action='/responses' method='post'>
  	<label for='response[value]'>Reply:</label>
    <input class="response-field" name='response[value]' type ='text' placeholder='Enter text here...' />
  </form>
</div>
