<div class="row">
	<div id="surveys" class="surveys">
		<h3>Surveys</h3>
		<% @surveys.each do |survey| %>
			<div class="survey">
				<h3><a href='/surveys/<%= survey.id %>'><%= survey.name %></a></h3>
				<p><%= survey.user.name %></p>
			</div>
		<% end %>
	</div>
</div>