<div id="surveys" class="surveys">
	<% @surveys.each do |survey| %>
		<div class="survey">
			<h3><a href='/survey/<%= survey.id %>'><%= survey.name %></a></h3>
			<p><%= survey.user.name %></p>
		</div>
	<% end %>
</div>