<div class="new-survey">
  <%= @survey.errors.to_a.join(' ,') %>
  <form action='/survey' method='post'>
    <input name='survey[:name]' value="<%= @survey.name %>" type ='text'>
    <input type='submit'>
  </form>
</div>
