<div class="row">
  <div class="show-survey">
    <p><%= @survey.name %></p>
    <% @survey.questions.each do |question| %>
    	<% @question = question %>
       <%= erb :'questions/show' %>
    <% end %>  
  </div>
</div>