<div class="show-survey">
  <p><%= @survey.name %></p>
  <% @all_survey_questions = Question.where(survey_id: @survey.id) %>
  <% @all_survey_questions.each do |q| %>
     <%= q.description %><br>
     <%= q.prompt %><br>
   <% end %>
</div>