<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/custom.modernizr.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/validations.js"></script>

  <title>AskMowgli</title>
</head>
<body>
  <div class="container">
    <nav>
      <h1><a href='/'>AskMowgli</a></h1>
      <ul class='nav-bar'>
        <li><a href='/surveys'>Surveys</a></li>
        <% if current_user %>
        <li><a id="new-survey-link" href='/surveys/new'>Create Survey</a></li>
        <li><a id="logout-link" href='/logout'>Log Out</a></li>
        <% else %>
        <li><a href='/login'>Log In</a></li>
        <li><a href='/users/new'>Sign Up</a></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </div>

  <script>
  $(document).foundation();
  </script>

  <div id="modalContainer" class="reveal-modal">
  
  </div>


</body>
</html>
